#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.heading {
  font-size: 2.5rem;
}

.board {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 60px);
  grid-template-rows: repeat(6, 60px);
  gap: 5px;
  margin-top: 20px;
}

.cell {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #808080;
  cursor: pointer;
}

.cell.clicked {
  background-color: #E8E8E8;
}

.cell.clicked.hasItem {
  background-color: gold;
}

button {
  margin-top: 20px;
}

.win-msg {
  font-size: 2rem;
  font-weight: 700;
}
